body {background:#ccc}

.box h3{
  text-align:center;
	position:relative;
	top:0px;
}
.box {
	width:70%;
	height:240px;
	background:#FFF;
    margin: 82px auto;
    min-width: 630px;
}

.boxoptions{
    display: flex;

    align-items: center;

    justify-content: center;


}
.optiontitle{
        margin:0px;
        height: 50px;
        margin-bottom: -3px;
        text-align:center;
	position:relative;
	top:0px;


}
.options {
    margin: auto;
    width: 100%;
}
.container{
margin: 0px;
height: 50px;
text-align: center;
position: relative;
top: 0px;


}
.btn {
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    text-align: center;
}

.btn:hover {
    background-color: #a8a8a8;
    color: white;
}
.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;

}

